# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.astro/
.turbo/

# generated
*.tsbuildinfo

# lighthouse / a11y reports
.lighthouseci/
lhci-report/
pa11y-report/

# env
.env
.env.*
!.env.example

# os / editor
.DS_Store
Thumbs.db
*.log
npm-debug.log*
pnpm-debug.log*
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
