{% if page.background == "grey" or page.background == "gray" %}
<script>
  document.getElementById("page-top").className="bg-light";
</script>
{% endif %}

<div class="container" id="pagecontainer">
{{ content }}
  <div class="d-flex flex-row justify-content-center flex-wrap" style="margin-bottom: 100px;">
    {% assign sorted = site.projects | sort: "date" | reverse %}
    {% for project in sorted %}
    <div class="card ml-5 mb-5" style="max-width: 350px;">
      <img src="/{{ project.caption.thumbnail }}" class="card-img-top" alt="{{ project.alt }}">
      <div class="card-body">
        <h5 class="card-title">{{ project.title }}</h5>
        <h6 class="card-subtitle text-muted mb-2">{{ project.date | date: "%-d %B %Y" }}</h6>
        <p class="card-text">{{ project.subtitle }}</p>
        <a href="/projects/{{ project.slug }}" class="btn btn-primary">Read more</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>